// @import url('https://fonts.googleapis.com/css?family=Graduate');

@import './mixins/style';
@import './global/style';
@import './patterns/style';

// @import '../../views/globals/style';

$ease-out-cubic: cubic-bezier(0.215, 0.610, 0.355, 1.000);

small {
	color: rgba(0, 0, 0, .5);
	font-weight: 500;
	font-size: 1.1rem;
	letter-spacing: .15rem;
}

a {
	text-decoration: none;
	letter-spacing: 0.05rem;
	color: rgba(0, 0, 0, .3);
	transition: background .25s $ease-out-cubic, color .25s $ease-out-cubic;
	&:hover {
		color: white;
		background: $offblack;
	}
}

body {
	background-color: transparent;
	transition: background .5s $ease-out-cubic;
}

#main {
	z-index: 0;
	position: relative;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	flex-flow: column;
	padding: 0 10vw;
}

.toggle-day-night {
	cursor: pointer;
	margin: 0 0 1.5rem 0;
	@include mq($screen-small) {
		margin: -.1rem 1.5rem 0 0;
	}
	svg {
		opacity: .3;
		fill: $offblack;
		width: 1.5rem;
		display: inline-block;
		vertical-align: middle;
		transition: opacity .25s $ease-out-cubic;
		&:hover {
			opacity: 1;
		}
	}
	span:nth-child(2) {
		display: none;
	}
}

.dark {
	background: #191919;
	a {
		color: white;
		&:hover {
			color: black;
			background-color: white;
		}
	}
	.toggle-day-night {
		svg {
			fill: white;
		}
	}
	.footer-list li:first-child a:hover {
		color: black;
		background-color: white;
	}
	.intro {
		color: white;
		// background: #191919;
		&:before {
			color: rgba(255, 255, 255, 0.02);
		}
		h6 {
			color: rgba(255, 255, 255, .3);
		}
		.clients li,
		.clients a {
			color: rgba(255, 255, 255, .3);
			&:hover {
				color: black;
			}
		}
	}
}

.intro {
	display: flex;
	flex: 0;
	margin: 0 0 2rem 0;
	@include mq($screen-medium, 'max', 'width', 'portrait') {
		flex: 2;
		margin: 5rem 0 0;
	}
	@include mq($screen-medium, 'max', 'width', 'landscape') {
		flex: 2;
		margin: 5rem 0 0;
	}
	align-items: center;
	position: relative;
	overflow: hidden;
	z-index: 10;
	// background-color: transparent;
	border: 2rem solid #f5f5f5;
	border: none;
	// transition: background .5s $ease-out-cubic;
	> * {
		width: 100%;
	}
	h1 {
		line-height: 1;
		font-size: 2rem;
		margin-bottom: 1rem;
		letter-spacing: .3rem;
		@include mq($screen-small) {
			font-size: 2.8rem;
			margin-bottom: 0;
		}
	}
	h2 {
		font-weight: 700;
		font-size: 1.4rem;
		line-height: 1.8rem;
		margin-bottom: 3.2rem;
		letter-spacing: .2rem;
		@include mq($screen-medium) {
			font-size: 1.6rem;
			line-height: 3.2rem;
		}
	}
	h2,
	.lead,
	small {
		max-width: 76rem;
	}
	h6 {
		font-size: 1rem;
		font-weight: 600;
		letter-spacing: 0.1rem;
		color: rgba(0, 0, 0, .3);
		transition: color .5s $ease-out-cubic;
	}
	&:before {
		position: absolute;
		z-index: -1;
		letter-spacing: -5vw;
		color: rgba(0, 0, 0, 0.03);

		// // big bg number
		// content: "1989";
		// font-size: 35vw;
		// left: 0;
		// right: 0;
		// width: 100%;
		// text-align: center;
		// letter-spacing: -5vw;
		// text-indent: -3vw;
		// font-family: 'Graduate', cursive;
	}
}

.lead {
	font-weight: 300;
	font-size: 1.8rem;
	line-height: 3rem;
	margin-bottom: 1.8rem;
	@include mq($screen-medium) {
		font-weight: 300;
		font-size: 2.6rem;
		line-height: 3.6rem;
		margin-bottom: 2.6rem;
	}
	a {
		text-decoration: underline;
	}
}

.clients {
	// max-width: 75rem;
	li {
		display: inline-block;
		font-weight: 500;
		font-size: 1.2rem;
		letter-spacing: .15rem;
		transition: color .5s $ease-out-cubic;
		&:after {
			content: '•';
			margin: 0 0.5rem;
		}
		&:last-child:after {
			content: '';
		}
		a {
			color: rgba(0, 0, 0, .5);
			&:hover {
				color: white;
			}
		}
	}
}










