{% extends 'views/templates/base.twig' %}

{% block content %}

	<!-- 

	what problem(s) do i solve
		i make dope shit
		i craft solutions for your business goals
		i build beautiful, fast and easy to manage websites and web applications
		i partner with your business as a CTO/Director so you can focus soley on your business


	what i want to do
		web apps (40k+)
		shopify (20k-30k basic / 30-100k fancy)
		simple websites (20k-30k - wp/static)
		landing pages (4k-7k)

	what dont i want to do
		ios
		email
		demandware/magento

	-->

	<section class="intro">

		<div class="centered">

			<h2>Software Engineer. Web Sommelier. Digital Sous-Chef.</h2>

			<p class="lead">
				Yo! I'm Constantine Kiriaze, fam calls me CK.
				<br>
				I partner with startups & agencies around the world delivering bespoke digital products that people love to use.
				<!-- I build the tools and websites you love to use. -->
			</p>

			<p class="lead">
				Formerly at: <a href="https://basicagency.com" target="new">BASIC</a>, <a href="https://madebygrizzly.com" target="new">GRIZZLY</a>, & <a href="https://fiftyandfifty.org" target="new">Fifty&Fifty</a>.
			</p>
			
			<h6>Trusted by</h6>

			<ul class="clients">
				<li><a target="new" class="is-disabled" href="javascript:;">FILA</a></li>
				<li><a target="new" href="https://store.google.com/">Google</a></li>
				<li><a target="new" href="https://www.beatsbydre.com/">BeatsByDre</a></li>
				<li><a target="new" href="https://www.chromeindustries.com/">CHROME Industries</a></li>
				<li><a target="new" href="https://www.heathceramics.com/">Heath Ceramics</a></li>
				<li><a target="new" href="https://www.keenfootwear.com/">KEEN Footwear</a></li>
				<li><a target="new" href="https://bbdakota.com/">BBDakota</a></li>
				<li><a target="new" href="https://www.volcom.com/">Volcom</a></li>
				<!-- <li><a target="new" href="https://www.billabong.com/">Billabong</a></li> -->
				<!-- 
				<li><a href="javascript:;">DreamAgain</a></li>
				<li><a href="javascript:;">Invisible Children</a></li>
				<li><a href="javascript:;">StickyBumps</a></li>
				<li><a href="javascript:;">STOKE Certified</a></li>
				<li><a href="javascript:;">Artists for Peace & Justice</a></li>
				<li><a href="javascript:;">Andy Davis</a></li>
				<li><a href="javascript:;">Nutanix</a></li>
				<li><a href="javascript:;">Schmidt Design Group</a></li>
				<li><a href="javascript:;">CAKE</a></li>
				<li><a href="javascript:;">National MS Society</a></li>
				<li><a href="javascript:;">Liberty in North Korea</a></li>
				<li><a href="javascript:;">Donately</a></li>
				<li><a href="javascript:;">EQ Culture</a></li> -->
				
			</ul>

		</div>

	</section>

{% endblock %}