{% extends 'views/templates/base.twig' %}

{% block content %}

	{# 
	what problem(s) do i solve
		i make dope shit
		i craft solutions for your business goals
		i build beautiful, fast and easy to manage websites and web applications
		i partner with your business as a CTO/Director so you can focus soley on your business


	what i want to do
		web apps (40k+)
		shopify (20k-30k basic / 30-100k fancy)
		simple websites (20k-30k - wp/static)
		landing pages (4k-7k)

	what dont i want to do
		ios
		email
		demandware/magento
	#}

	<section class="intro">

		<div class="centered">

			<h2>Software Engineer. Web Sommelier. Digital Chef.</h2>
			<!-- <h2>Software Engineer. Web Sommelier. Digital Sous-Chef.</h2> -->

			<p class="lead">
				Yo! I'm Constantine Kiriaze, fam calls me CK.
				<br>
				I partner with startups & agencies around the world delivering bespoke digital products that people love to use.
				<!-- I build the tools and websites you love to use. -->
			</p>

			<p class="lead">
				Formerly at: <a href="https://basicagency.com" target="new">BASIC</a>, <a href="https://madebygrizzly.com" target="new">GRIZZLY</a>, & <a href="https://fiftyandfifty.org" target="new">Fifty&Fifty</a>.
			</p>
			
			<h6>Trusted by</h6>

			<ul class="clients work-title-list">
				
				{% for work in data['works'] %}

					{% if work.status != 'hidden' %}

					{% set imgLength = (work.image is iterable) ? work.image | length - 1 : 0 %}
					{% set vidLength = (work.video is iterable) ? work.video | length - 1 : 0 %}
					{% set image     = imgLength > 0 ? work.image[random(imgLength)] : work.image %}
					{% set image     = imgLength > 0 ? work.image[0] : work.image %}
					{% set video     = vidLength > 0 ? work.video[random(vidLength)] : work.video %}
					{% set video     = vidLength > 0 ? work.video[0] : work.video %}

					<li>
						<a href="{{work.url}}" target="new" class="{{ work.status }}">{{ work.name }}</a>
						{% if work.video %}
							<video class="work-title-bg work-title-video" poster="{{ image }}" autoplay loop muted preload="auto">
								<source src="{{ video }}" type="video/mp4">
							</video>
						{% else %}
							<div class="work-title-bg" style="background-image:url({{ image }})"></div>
						{% endif %}
					</li>

					{% endif %}

				{% endfor %}
				
			</ul>

		</div>

	</section>

{% endblock %}