{% extends 'views/templates/base.twig' %}

{% block content %}

	<h1>Labs</h1>

	<section class="labs">
		<h3>Labs</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aspernatur voluptatibus nostrum error voluptas obcaecati, unde, quidem incidunt illum libero consequuntur excepturi laboriosam, voluptates, iure mollitia! Perspiciatis enim repudiandae quod?</p>
		<ul>
			<li><a href="javascript;;">ghosts</a></li>
			<li><a href="javascript;;">juice</a></li>
			<li><a href="javascript;;">Mac Dev Env</a></li>
			<li><a href="javascript;;">Presto</a></li>
			<li><a href="javascript;;">s-grid</a></li>
			<li><a href="javascript;;">s-grams</a></li>
			<li><a href="javascript;;">s-anchors</a></li>
			<li><a href="javascript;;">s-animate</a></li>
			<li><a href="javascript;;">simple-child</a></li>
			<li><a href="javascript;;">simple-flickr</a></li>
			<li><a href="javascript;;">simple-framework</a></li>
			<li><a href="javascript;;">simple-multi-cpts</a></li>
			<li><a href="javascript;;">simple-newsletter</a></li>
			<li><a href="javascript;;">simple-shortcodes</a></li>
			<li><a href="javascript;;">simple-shots</a></li>
			<li><a href="javascript;;">simple-tweets</a></li>

			<li><a href="javascript:;">GetSimple.io</a></li>
			<li><a href="javascript:;">GetForms.io</a></li>
			<li><a href="javascript:;">staticlabs.io</a></li>
			<li><a href="javascript:;">drunkcreative.com</a></li>
		</ul>
	</section>

{% endblock %}