<footer id="footer">
	<ul class="footer-list">
		<li class="toggle-day-night">
			<span>
				<svg viewBox="0 0 8 8"><use xlink:href="#moon"></use></svg>
			</span>
			<span>
				<svg viewBox="0 0 8 8"><use xlink:href="#sun"></use></svg>
			</span>
		</li>
		<li><a target="new" href="https://kiriaze.typeform.com/to/SZzbvG">Project Inquiry</a></li>

		{# <li><a class="typeform-share button" href="https://kiriaze.typeform.com/to/SZzbvG" data-mode="popup" target="_blank">Project Inquiry</a></li>
		<script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script> #}

		<li><a target="new" href="https://Github.com/kiriaze">Github</a></li>
		<li><a target="new" href="https://LinkedIn.com/in/Constantinekiriaze">LinkedIn</a></li>
		<li><a target="new" href="//2016.kiriaze.com">Old Portfolio (2016)</a></li>
		{#
		<li>/</li>
		<li><a class="is-disabled" target="new" href="https://kanye.is">Kanye.is</a></li>
		<li><a class="is-disabled" target="new" href="https://getforms.io">GetForms</a></li>
		<li><a class="is-disabled" target="new" href="https://mnmmlmfg.co">MNML MFG</a></li>
		<li><a class="is-disabled" target="new" href="https://eventnation.us">EventNation</a></li>
		<li><a class="is-disabled" target="new" href="https://drunkcreative.com">DrunkCreative</a></li>
		#}
		<!-- GetSome | GetSimple | StaticLabs -->
	</ul>
</footer>