// @import '../../../assets/scss/mixins/style';

#header {
	position: absolute;
	z-index: 10;
	top: 5rem;
	left: 0;
	right: 0;
	display: flex;
	padding: 0 10vw;
	justify-content: space-between;
	
	@include mq($screen-small) {
		top: 10rem;
	}

	.logo {
		
	}
	
	a {
		font-weight: 600;
		letter-spacing: .1rem;
		text-transform: uppercase;
	}
	
	ul {
		display: flex;
		a {

		}
	}

}